<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85370425237-tpp3efiobfk9oh9q09vincmad33e8r1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85370425237-tpp3efiobfk9oh9q09vincmad33e8r1n</string>
	<key>API_KEY</key>
	<string>AIzaSyAbILS2zeqjohYXwpTW0ZPRWV5-me0dKPI</string>
	<key>GCM_SENDER_ID</key>
	<string>85370425237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learndart</string>
	<key>PROJECT_ID</key>
	<string>mani-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>mani-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85370425237:ios:f708c80440f14028e4f09c</string>
</dict>
</plist>